.page-content{
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;

}

.demo-card-wide.mdl-card {
    width: 25vw;
    margin-bottom: 10px;
}

.demo-card-wide > .mdl-card__title {
color: #fff;
height: 176px;
}

.demo-card-wide > .mdl-card__menu {
color: #fff;
}